<div class="ng-login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="isPasswordless || isLogin">Passwordless Login</ng-container>
        <ng-container *ngIf="isReturnLogin">Confirm Your Email</ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field [color]="getField('email')?.valid && 'accent'" appearance="outline"
          *ngIf="!isVerify && !isLogin">
          <mat-icon matPrefix color="primary" class="ng-form-icon">email</mat-icon>
          <input matInput formControlName="email" type="email" placeholder="Email" autocomplete="off" />
          <mat-error *ngIf="getField('email')?.invalid">
            {{ getError('email') }}
          </mat-error>
        </mat-form-field>
        <ng-container *ngIf="isReturnLogin || isPasswordless">
          <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid || loading">
            <ng-container *ngIf="isPasswordless">Send Link</ng-container>
          </button>
        </ng-container>
        <div class="margin-spacer"></div>
      </form>
      <button class="a-button provider-button-login" mat-button (click)="providerLogin('apple.com')">
        <mat-icon class="ng-button-icon" matSuffix>login</mat-icon>
        Login with Apple
      </button>
      <div class="margin-spacer"></div>
      <button class="g-button provider-button-login" mat-button (click)="providerLogin('google.com')">
        <mat-icon class="ng-button-icon" matSuffix>login</mat-icon>
        Login with Google
      </button>
      <div class="margin-spacer"></div>
      <button *ngIf="!isPasswordless" mat-raised-button color="primary" routerLink="/passwordless">
        <mat-icon class="ng-button-icon" matSuffix>link</mat-icon>
        Login with a Magic Link
      </button>
      <div class="margin-spacer"></div>
    </mat-card-content>
  </mat-card>
</div>