$hover-color: #06c;
$border-color: #d9d9d9;
$blue-border: #4c9aff;

markdown-toolbar {
  padding: 8px;
  word-wrap: normal;

  .btn {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
    color: #222;

    i {
      display: flex;
    }

    &:hover {
      color: $hover-color;
    }
  }
}

:host {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid $border-color;
  //box-shadow: 0 0 0 1px $border-color;
  border-radius: 3px;
  outline: none;
  background: #fff;
  display: flex;
  flex-direction: column;


  .text-editor {
    //padding-left: 15px;
    padding-right: 15px;
    resize: none;
    border-color: transparent;
    width: 94.6%;
    overflow-y: scroll;

    &:focus {
      outline: none;
      //border: transparent;
    }
  }

  &.focus {
    // border: 1px solid $hover-color;
    box-shadow: 0 0 0 1px $hover-color;
  }
}

#top-div {
  position: relative;
  overflow: hidden;
}

.lined-textarea {
  background: url(https://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
  font-size: 13px;
  line-height: 16px;
  resize: none;
}

.toolbar-mark {
  background-color: rgb(236, 235, 235);
}